* {
  font-family: Helvetica, Arial, sans-serif;
  /* background-color: rgb(85, 76, 85); */
  color: rgb(0, 0, 0);
}

/* Agrega la siguiente línea para hacer el sitio responsive */
meta {
  name: viewport;
  content: width=device-width, initial-scale=1;
}

@media (max-width: 768px) {
  .aboutMe {
    padding: 20px;
  }
}

h1 {
  display: flex;
  width: 200PX;
  height: 200px;
  max-width: 800px;
  max-height: 800px;
  min-width: 5%;
  min-height: 5%;
  border-radius: 40px;
  justify-content: center;
  font-size: 2.8rem;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  font-size: 3.6em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 5%;
  text-align: center;
  background-image: url("./imgs/gif2.gif");
  background-size: cover;
  inline-size: 90%;
  text-shadow: #f1f1f1 1px 2px 5px;
}

.headerAguilas p {

  color: #c0c2d0;
  text-shadow: #000000 1px 2px 3px;
  outline: #000000;
  text-align: right;
  justify-content: center;
  font-size: 1.5rem;
}

body {
  
  background-color: rgb(85, 76, 85);
  align-items: center;
}

.buscador {
  text-align: center;
}

input {
  width: 80%;
  max-width: 400px;
  min-width: 5%;
  min-height: 5%;
  margin: auto;
  margin: 0%;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  border: 1px solid rgb(97, 32, 158);
  color: black;
  font-size: 1.2rem;
  outline: none;
  padding: 10px 5px;
}

input:hover {
  background-color: #c1c4c9;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
}

h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 20px;
  max-width: 700px;
  width: 500px;
  height: fit-content;
  align-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 1px 1px 1px 2px rgb(0, 0, 0);
  transform: scale(1.10);
}

.card p {
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  flex: 1;
  font-size: 1.5rem;
  margin-top: 5px;
  padding: 5px 20px 0px 20px;
  text-align: center;
}

.card img {
  width: 100%;
}

.pieDePagina {
  margin: auto;
  width: 10em;
  border-radius: 20px;
}
.text1 {
  font-size: 2.5em;
  font-family:'Lucida Grande', 'Lucida Sans Unicode';
}
.pieDePagina p {
  border-radius: 20px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  background-image: url("./imgs/fondox.gif");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 10px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(21, 22, 22);
  font-size: 1.4rem;
  text-align: center;
  background-color: rgb(176, 176, 184);
}

.redes {
  display: flex;
  flex-direction: row;
  margin: 20px;
  text-align: right;
}

.redes a {
  margin: 3px;
  text-decoration: none;
  background-color: #143548;
  font-size: 30px;
  width: 60px;
  height: 60px;
  min-width: 30px;
  min-height: 30px;
  line-height: 57px;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  transition: all .4s ease-in-out;
}

.redes a:hover {
  background-color: #d8e5ed;
  color: rgb(22, 60, 225);
}

.refrescar {
  min-width: 100px;
  margin: auto;
  text-align: center;
}

.limpiar {
  line-height: 37px;
  text-align: center;
  border-radius: 50%;
  font-size: 34px;
  background-color: #ebeeef;
  width: 4rem;
  height: 4rem;
  margin: 20px;
}

.limpiar:hover {
  box-shadow: inset 100px 0 0 0 #d30e0e;
  color: white;
}
.card-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.icon {
  font-size: 30px;
  cursor: pointer;
}

.download-icon {
  width: 100%;
  color: #4CAF50; 
}

.download-button {
  box-shadow: 1px 1px 1px 2px rgb(34, 121, 32);
  transform: scale(1.10);
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #4CAF50; 
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.footerText {
  margin-top: 100px;
  width: 100%;
  padding: 30px;
  margin: auto;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  text-align: center;
}
.loadingScreen {
  margin-top: 100px;
  width: 100vw;
  text-align: center;
  align-items: center;
}
.aboutMe {
  width: 80vw;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  inline-size: 90%;
}
.aboutmeTitle{
  text-align: center;
  color: #000000;
  font-size: 2.5em;
  font-family:'Lucida Grande', 'Lucida Sans Unicode';
}
.aboutMe p {
  width: 90%;  
  text-align: center;
  color: #dfe0e6;
  font-size: 1.2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold; 
}
.aboutHeaderImg {
  width: 200px;
  height: 200px;
  max-width: 800px;
  max-height: 800px;
  min-width: 5%;
  min-height: 5%;
  border-radius: 30px;
  justify-content: center;
  margin: auto;
  margin-bottom: 5%;
  text-align: center;
  background-image: url("./imgs/gera.gif");
  background-size: cover;
  background-repeat: no-repeat;
  inline-size: 90%;
}
.aboutHeaderImg p {
  margin: auto;
  text-align: center;
  color: #ffffff;
  font-size: 2em;
  font-family:'Lucida Grande', 'Lucida Sans Unicode';
}